<article class="featured-recipe-card">
  <div class="featured-recipe-card__content">
    <ui-chip>Receta del día</ui-chip>

    <h2 class="featured-recipe-card__title">
      {{ recipe?.title }}
    </h2>

    <p class="featured-recipe-card__description">
      {{ recipe?.description }}
    </p>

    <div>
      <span class="featured-recipe-card__time">
        <span class="material-symbols-outlined">timer</span>
        {{ recipe?.cookingTime }} min
      </span>
    </div>

    <ui-button
      [routerLink]="['/recipes', recipe?.id]"
      [icon]="'arrow_forward'"
      [iconPosition]="'right'">
      Ir a la receta
    </ui-button>
  </div>

  <div class="featured-recipe-card__media">
    <img
      class="featured-recipe-card__image"
      [src]="recipe?.img"
      [alt]="recipe?.title"
    />
  </div>
</article>
