<section class="import-from-image-page">
  <div class="import-from-image-page__card">

    @if (importStore.images().length === 0) {
      <app-image-dropzone
        (filesSelected)="onFilesSelected($event)"
      />
    } @else {
      <div class="import-from-image-page__images">
        @for (image of importStore.images(); track image.previewUrl; let i = $index) {
          <div class="import-from-image-page__image-card">
            <img
              class="import-from-image-page__preview"
              [src]="image.previewUrl"
              [alt]="image.file.name"
            />

            @if(importStore.images().length > 1){
              <label>
                ¿Qué contiene esta imagen?

                <select
                  [value]="image.section"
                  (change)="onSectionChange(i, $event)"
                >
                  @for (option of sectionOptions; track option.value) {
                    <option [value]="option.value">
                      {{ option.label }}
                    </option>
                  }
                </select>
              </label>
              <button type="button" (click)="onRemoveImage(i)">
                Eliminar
              </button>
            }
          </div>
        }
      </div>

      <ui-button (click)="onProcessRecipe()">
        Procesar receta
      </ui-button>
    }

  </div>
</section>
