.import-from-image-page__card{
  width: 100%;
  padding: 40px;
  border: 2px solid var(--color-tertiary);
  border-radius: var(--radius-2xl);
  background: white;
}

.import-from-image-page__header {
  margin-bottom: 32px;
}

.import-from-image-page__title {
  margin: 0 0 8px;
  font-size: 28px;
  font-weight: var(-- --font-weight-bold);
  color: var(--color-text-strong);
}

.import-from-image-page__description {
  margin: 0;
  font-size: 18px;
  color: var(--color-text-soft);
}

.import-from-image-page__actions {
  margin-top: 12px;
  gap:12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.import-from-image-page__helper{
  font-size: 18px;
  color: var(--color-text-soft);
}
