<section class="import-recipe-page">
  <div class="import-recipe-page__card">

    <div class="import-recipe-page__url">
      <label for="recipeUrl" class="import-recipe-page__url-label">
        Importa una receta desde URL
      </label>

      <div class="import-recipe-page__url-form">
        <input
          id="recipeUrl"
          type="url"
          placeholder="https://..."
          [value]="recipeUrl"
          (input)="onRecipeUrlChange($event)"
        />

        <ui-button
          type="button"
          (click)="onProcessUrlRecipe()"
        >
          Procesar URL
        </ui-button>
      </div>

      @if (urlErrorMessage) {
        <p class="import-recipe-page__error">
          {{ urlErrorMessage }}
        </p>
      }
    </div>

    <div class="import-recipe-page__separator">
      O sube imágenes de la receta
    </div>

    @if (importStore.images().length === 0) {
      <app-image-dropzone
        (filesSelected)="onFilesSelected($event)"
      />
    } @else {
      <div class="import-recipe-page__images">
        @for (image of importStore.images(); track image.previewUrl; let i = $index) {
          <div class="import-recipe-page__image-card">
            <img
              class="import-recipe-page__preview"
              [src]="image.previewUrl"
              [alt]="image.file.name"
            />

            @if(importStore.images().length > 1){
              <label>
                ¿Qué contiene esta imagen?

                <select
                  [value]="image.section"
                  (change)="onSectionChange(i, $event)"
                >
                  @for (option of sectionOptions; track option.value) {
                    <option [value]="option.value">
                      {{ option.label }}
                    </option>
                  }
                </select>
              </label>
              <button type="button" (click)="onRemoveImage(i)">
                Eliminar
              </button>
            }
          </div>
        }
      </div>

      <ui-button (click)="onProcessImageRecipe()">
        Procesar receta
      </ui-button>
    }

  </div>
</section>
