<section class="shopping-list-page">
  @if (loading()) {
    <ui-loader></ui-loader>
  } @else if (list(); as shoppingList) {
    <ui-button
      [variant]="'ghost'"
      [icon]="'arrow_back'"
      (click)="goBackToMenu()"
    >
      Volver al menú
    </ui-button>
    <app-ui-page-header [title]="'Lista de la compra'"></app-ui-page-header>

    <section class="shopping-list-page__progress-card">
      <div class="shopping-list-page__progress-header">
        <span>Progreso de compra</span>
        <span>
          {{ shoppingListStore.checkedItems() }} de {{ shoppingListStore.totalItems() }} productos
        </span>
      </div>

      <div class="shopping-list-page__progress-bar">
        <div
          class="shopping-list-page__progress-fill"
          [style.width.%]="shoppingListStore.progressPercentage()"
        ></div>
      </div>
    </section>

    <div class="shopping-list-page__actions">
      <ui-button
        type="button"
        [variant]="'outline'"
        [icon]="'done_all'"
        (click)="markAll()"
      >
        Marcar todo
      </ui-button>

      <ui-button
        type="button"
        [variant]="'outline'"
        [icon]="'check_box_outline_blank'"
        (click)="unmarkAll()"
      >
        Desmarcar todo
      </ui-button>

      <ui-button
        type="button"
        [variant]="'outline'"
        [icon]="'print'"
        (click)="print()"
      >
        Imprimir
      </ui-button>
    </div>

    <div class="shopping-list-page__groups">
      @for (category of shoppingList.categories; track category.id) {
        <app-shopping-category-group
          [category]="category"
          (toggleCollapse)="toggleCategory($event)"
          (toggleItem)="toggleItem($event)"
          (deleteItem)="deleteItem($event)"
        />
      }
    </div>
  }
</section>

