<div class="image-dropzone">
  <input
    #fileInput
    class="image-dropzone__input"
    type="file"
    multiple
    [accept]="accept"
    [disabled]="disabled"
    (change)="onFileInputChange($event)"
  />

  <div
    class="image-dropzone__box"
    [ngClass]="{
      'image-dropzone__box--dragging': isDragging,
      'image-dropzone__box--has-file': !!selectedFiles,
      'image-dropzone__box--disabled': disabled
    }"
    (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave($event)"
    (drop)="onDrop($event)"
    (click)="openFilePicker(fileInput)"
  >
    @if (previewUrls.length === 0) {
      <div class="image-dropzone__content">
        <span class="material-symbols-outlined image-dropzone__icon">upload</span>

        <p class="image-dropzone__drop-text">
          Arrastra una o varias imágenes aquí o haz clic para seleccionar
        </p>

        <p class="image-dropzone__helper-text">
         Para un resultado óptimo se recomienda subir una imágen por sección (imagen de la receta, título, ingredientes y pasos)
        </p>

        <ui-button
          [icon]="'image'"
          (click)="$event.stopPropagation(); openFilePicker(fileInput)"
        >
          Seleccionar imágenes
        </ui-button>
      </div>
    } @else {
      <div class="image-dropzone__preview-list">
        @for (previewUrl of previewUrls; track previewUrl; let i = $index) {
          <div class="image-dropzone__preview-wrapper">
            <img
              class="image-dropzone__preview"
              [src]="previewUrl"
              [alt]="selectedFiles[i].name"
            />

            <div class="image-dropzone__preview-footer">
              <span class="image-dropzone__filename">{{ selectedFiles[i].name }}</span>

              <button
                type="button"
                class="image-dropzone__remove"
                (click)="$event.stopPropagation(); removeFile(i)"
              >
                Eliminar
              </button>
            </div>
          </div>
        }
      </div>
    }
  </div>
</div>
